@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$primary-color: #101628;
$secondary-color: #f3a71d;
$tertiary-color: #282828;
$quaternary-color: #ffffff;
$quinary-color: #f20000;
$border-color: rgba(255, 255, 255, 0.15);

$error: #fa4a4a;

$font: Montserrat;

$border-style: 0.1rem solid $border-color;
$form-border: 0.2rem solid $secondary-color;

@mixin font-style-primary {
  color: $quaternary-color;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  letter-spacing: 0.05rem;
}

@mixin font-style-secondary {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
}
